.ForgetPassword {
    margin: auto;
    width: 650px;
  }
  
  .logo {
    width: 220px;
    margin-bottom: 10px;
    user-select: none;
    -webkit-user-select: none;

  }
  
  .logo > img {
    width: 100%;
  }
  
  .step1 {
    z-index: 8;
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    gap: 35px;
    position: relative;
  }
  .step2 {
    z-index: 8;
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    gap: 10px;
    position: relative;
  }
  
  .step2 > .pinConfirm > h1 {
    font-size: 16px;
  }
  
  .pinInput {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    font-size: 36px;
    box-sizing: border-box;
    padding: 5px;
    font-weight: 600;
  }
  
  .pinInput:focus {
    border: 2px solid black;
  }
  
  .step2 > .pinConfirm > input:focus {
    outline: none;
  }
  
  .step3 {
    z-index: 8;
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    gap: 35px;
    position: relative;
  }
  
  .input > input {
    width: 350px;
    height: 24px;
    border-radius: 25px;
    padding: 9px 20px;
    border: 3px solid black;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
  }
  
  .inputWrong > input {
    border: 3px solid red;
  }
  
  .input > input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
  }
  
  .input {
    position: relative;
  }
  
  .wrongIcon {
    position: absolute;
    top: 19%;
    left: 90%;
  }
  
  .confirmButton {
    width: 390px;
    height: 45px;
    background-color: red;
    text-transform: uppercase;
    color: white;
    border-radius: 50px;
    box-sizing: border-box;
    border: 3px solid red;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;

    margin-top: 30px;
  }
  
  .confirmButton:hover {
    border: 3px solid red;
    background-color: aliceblue;
    color: red;
  }
  
  .optionsAccount {
    margin-top: -30px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .backIcon {
    position: absolute;
    top: 20px;
    left: 22px;
    cursor: pointer;
  }
  
  .wrongInput {
    position: absolute;
    top: 56%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .wrongInputGmail {
    position: absolute;
    top: 52%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .message {
    width: 300px;
    text-align: center;
    font-size: 15px;
  }
  
  .wrongPassword {
    position: absolute;
    top: 45%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .wrongConfirm {
    position: absolute;
    top: 64%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .wrongPin {
    position: absolute;
    top: 66%;
    left: 27%;
    color: red;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
  }
  
  .pinWrong {
    border: 2px solid red;
  }
  
  .step4 {
    z-index: 8;
    width: 100%;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    gap: 35px;
    position: relative;
  }
  
  .logined {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .logined > svg {
    height: 70px;
    /* background-color: red; */
    color: green;
  }
  
  .returnPage {
    /* width: 200px; */
    display: flex;
    align-items: center;
    cursor: pointer;
    /* flex-direction: column; */
  }
  
  .returnPage > p {
    font-weight: 700;
    color: red;
    font-size: 16px;
  }
  
  .returnPage > svg {
    color: red;
    height: 30px;
  }
  