.navbar-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-around;
    position: fixed;
    z-index: 10000;
    padding-left: 50px;
}

.container-details {
    display: flex;
    width: 700px;
    justify-content: flex-start;
}

.logo-img {
    padding: auto 0;
    margin: auto 0;
    margin-left: 15px;
}


.detail-describe {
    display: flex;
    width: 600px;
    height: 100%;
    justify-content: space-between;
    margin: auto 0;
    margin-left: 50px;
}

.detail-describe .describe {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.detail-describe .describe.title-color {
    color: rgba(172, 1, 1, 1) !important;
}

.detail-describe .describe:hover {
    color: rgba(172, 1, 1, 1);
    cursor: pointer;
}

.navbar-details {
    display: flex;
    width: 45%;
}

.search-icons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1rem;
    /* width: 300px; */

}

.search-form {
    width: 240px;
    height: 25px;
    border: 2px solid black;
    margin: auto 0;
    border-radius: 20px;
    display: flex;
    justify-content: start;
}

.search-form-login {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    margin: auto 0;
    border-radius: 20px;
    display: flex;
    justify-content: start;
}

.magnifying-glass {
    margin: auto 0;
    padding: auto 0;
    margin-top: 4px;
    margin-left: 5px;

}


.input-search input {
    font-size: 10px;
    outline: none;
    font-size: 14px;
    border: none;
    margin-left: 5px;
    width: 205px;
}

.icon-shopping {
    margin: auto 20px;
}

.icon-shopping svg {
    width: 18px;
    height: 20px;
}

.icon-shopping:hover,
.login-btn:hover,
.signup-btn:hover {
    cursor: pointer;
}

.login-btn,
.signup-btn {
    width: 120px;
    height: 25px;
    border-radius: 20px;
    margin: auto 10px;
    background-color: #FFFFFF;
    display: block;
    border: #000000 solid 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
}
.user-login {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #000000 solid 2px;
    margin: auto 20px;
}

.user-login img{
    width: 30px;
    height: 30px;
}

.logout-btn {
    margin: auto 20px;
}

.logout-btn svg {
    width: 20px;
    height: 20px;
}

.logout-btn:hover svg {
    color: rgba(172, 1, 1, 1);
}


.icon-shopping:hover svg path,
.icon-list:hover svg path {

    fill: rgba(172, 1, 1, 1);
}