.App {
  box-sizing: border-box;
  display: flex;
  font-family: "Gantari", sans-serif;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700;800;900&family=Press+Start+2P&display=swap");
