.Products {
  width: 100%;
  padding: 30px 70px;
  overflow-y: hidden;
}

.productsTitle {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
  cursor: pointer;
}

.productsInformation {
  display: flex;
  align-items: center;
  gap: 45px;
}

.pi {
  height: 80px;
  width: 200px;
  background-color: aqua;
  box-sizing: border-box;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0px 30px;
  /* padding-bottom: 45px; */
  position: relative;
  color: white;
  font-weight: 600;
}

.piAmount {
  margin-top: -5px;
}

.pi {
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.pi-1 {
  background-color: #38d9a9;
}
.pi-1:hover {
  background-color: #20c997;
}

.pi-2 {
  background-color: #f03e3e;
}

.pi-2:hover {
  background-color: #e03131;
}

.pi-3 {
  background-color: #339af0;
}

.pi-3:hover {
  background-color: #228be6;
}

.pi-4 {
  background-color: #fcc419;
}

.pi-4:hover {
  background-color: #fab005;
}

.pi-5 {
  background-color: #9775fa;
}

.pi-5:hover {
  background-color: #845ef7;
}

.piIcon {
  position: absolute;
  top: 25%;
  right: 10%;
}

.piIcon > img {
  height: 45px;
}

.recentOrdersProducts {
  margin-top: 50px;
  width: 100%;
  height: 456px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.recentOrdersTitleProducts {
  display: flex;
  align-items: center;
  gap: 980px;
  padding: 0 15px;
  height: 40px;
  border-bottom: solid 2px rgb(0, 0, 0, 0.1);
}

.recentOrdersTitleProducts > p {
  font-weight: 700;
}

.recentOrdersTitleProducts > button {
  border: none;
  background-color: #fd7e14;
  color: white;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.recentOrdersTitleProducts > button:hover {
  background-color: #e8590c;
}

.recentOrdersNameProduct {
  height: 40px;
  /* border-bottom: solid 2px rgb(0, 0, 0, 0.1); */
  position: relative;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.1);
}

.stt {
  position: absolute;
  top: -15%;
  left: 32px;
}
.image {
  position: absolute;
  top: -15%;
  left: 10%;
}

.productName {
  position: absolute;
  top: -15%;
  left: 27%;
}
.type {
  position: absolute;
  top: -15%;
  left: 48%;
}
.topping {
  position: absolute;
  top: -15%;
  left: 750px;
}
.price {
  position: absolute;
  top: -15%;
  left: 81%;
}

.action {
  position: absolute;
  top: -15%;
  left: 92%;
}

.mainProduct {
  height: 374px;
  overflow: scroll;
  overflow-x: hidden;
}

.mainProduct::-webkit-scrollbar {
  width: 6px;
}

.mainProduct::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.mainProduct::-webkit-scrollbar-track {
  background-color: white;
}

.Overlays {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.float-Frame {
  position: absolute;
  /* height: 400px; */
  z-index: 10;
  top: 20%;
  left: 25%;
  transform: translate(25px, 25px);
  background-color: #20c997;
}
