.Frame {
  margin: 0px auto;
  width: 720px;
  height: 420px;
  background-color: white;
  padding: 20px 25px;
  box-sizing: border-box;
  position: relative;
}

.titleFrame {
  font-size: 18px;
  font-weight: 600;
}

.titlesFrame {
  /* background-color: aqua; */
  width: 200px;
  margin-top: 25px;
  font-size: 18px;
}

.Frame > .input {
  position: absolute;
  left: 25%;
  width: 250px;
  border: 1px solid #000000;
  font-family: "Gantari", sans-serif;
  height: 24px;
  font-size: 16px;
  /* border-radius: 5px; */
  padding-left: 5px;
  box-sizing: border-box;
}

.input-1 {
  top: 66px;
}
.input-2 {
  top: 106px;
}
.input-3 {
  top: 145px;
}

.Frame > .input:focus {
  outline: none;
}

.toppingFrame {
  position: absolute;
  left: 25%;
  top: 44.5%;
  width: 250px;
  height: 190px;
  /* background-color: aqua; */
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #000000;
}

.addNewInput::placeholder {
  font-size: 14px;
}

input:focus {
  outline: none;
}

.toppingFrame > input {
  border: 1px solid #000000;
  font-family: "Gantari", sans-serif;
  height: 24px;
  font-size: 16px;
  /* border-radius: 5px; */
  padding-left: 5px;
  box-sizing: border-box;
}

.showTopping {
  /* background-color: yellow; */
  height: 124px;
  overflow-y: scroll;
  /* display: flex;
  flex-direction: column;
  gap: 8px; */
  padding-right: 10px;
}

.showTopping::-webkit-scrollbar {
  width: 5px;
}

.showTopping::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.showTopping::-webkit-scrollbar-track {
  background-color: white;
}

.imageProduct {
  position: absolute;
  /* background-color: aqua; */
  height: 250px;
  /* width: 200px; */
  top: 65px;
  left: 68%;
  width: 170px;
  /* background-color: aqua; */
}

.images {
  width: 100%;
  height: 170px;
  background-color: #e9ecef;
  overflow: hidden;
}

.images > img {
  width: 100%;
}

.chooseFile {
  display: inline-block;
  margin-top: 25px;
  /* width: 100%; */
  top: 50%;
  /* border: 2px solid red; */
  background-color: #dee2e6;
  padding: 3px 8px;
  margin-left: 35px;
  cursor: pointer;
  transition: all 0.2s;
}

.chooseFile:hover {
  background-color: #adb5bd;
}

.save {
  position: absolute;
  top: 347px;
  left: 595px;
  border: 2px solid #000000;
  padding: 5px 15px;
  background-color: #000000;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.save:hover {
  color: #000000;
  background-color: white;
}

.clear {
  position: absolute;
  top: 347px;
  left: 491px;
  border: 2px solid #000000;
  padding: 5px 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.clear:hover {
  background-color: #000000;
  color: white;
}

.notifi {
  position: absolute;
  top: 282px;
  left: 455px;
  /* background-color: aqua; */
  width: 250px;
  text-align: center;
  color: #20c997;
  font-weight: 700;
}

.notifib {
  color: red;
}
