.TagInCart {
  width: 100%;
  height: 78px;
  z-index: 4;
  user-select: none;
  background-color: white;
  border-left: 1px solid #adb5bd;
  border-bottom: 1px solid #adb5bd;
  border-right: 1px solid #adb5bd;
  position: relative;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 15px;
  left: 50px;
}

.image > img {
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 0;
  width: 90px;
  position: absolute;
  top: 15px;
  left: 110px;
}

.haveTopping {
  top: 5px;
}

.amount {
  font-size: 12px;
  position: absolute;
  top: 18px;
  left: 21px;
}

.p {
  margin-bottom: -5px;
}

.add {
  cursor: pointer;
  position: absolute;
  top: 29px;
  right: 45px;
}

.trash {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 15px;
}
