.Login {
  margin: 150px 443px;
  z-index: 8;
  width: 650px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  box-sizing: border-box;
  gap: 35px;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 220px;
  /* margin-bottom: 100px; */
  user-select: none;
}

.logo > img {
  width: 100%;
}

.input > input {
  width: 350px;
  height: 24px;
  border-radius: 25px;
  padding: 9px 20px;
  border: 3px solid black;
  font-size: 15px;
}
.input > input:focus {
  border: 3px solid black;
}

.inputWrong > input {
  border: 3px solid red;
}

.input > input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
}

.input {
  position: relative;
}

.wrongIcon {
  position: absolute;
  top: 19%;
  left: 90%;
}

.loginButton {
  width: 390px;
  height: 45px;
  background-color: red;
  text-transform: uppercase;
  color: white;
  border-radius: 50px;
  box-sizing: border-box;
  border: 3px solid red;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  user-select: none;
}

.loginButton:hover {
  border: 3px solid red;
  background-color: aliceblue;
  color: red;
}

.forgetPassword {
  font-size: 16px;
  color: red;
  font-weight: 700;
  position: absolute;
  top: 65%;
  left: 61%;
  cursor: pointer;
  user-select: none;
}

.icon {
  position: absolute;
  top: 20px;
  left: 22px;
  cursor: pointer;
}

.wrongInputLogin {
  position: absolute;
  top: 46%;
  left: 23%;
  color: red;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}

.logined {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.logined > svg {
  height: 100px;
  /* background-color: red; */
  color: green;
}

.returnButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.returnButton > p {
  font-size: 18px;
  font-weight: 600;
  color: red;
  font-weight: 700;
}

.returnButton > svg {
  height: 30px;
  color: red;
}

.iconAdmin {
  position: absolute;
  /* font-style: italic; */
  font-size: 20px;
  /* color: white; */
  top: 25%;
  left: 41%;
  /* text-transform: uppercase; */
  color: red;
  font-weight: 700;
}
