.toppingsItem {
  position: relative;
  /* width: 100%; */
  /* background-color: aqua; */
  height: 20px;
  font-size: 15px;
  padding: 5px 0px;
  padding-left: 10px;
  user-select: none;
}

.toppingsItem > svg {
  cursor: pointer;
}

.toppingsItems {
  background-color: #e9ecef;
}

.toppingsItem > svg {
  position: absolute;
  left: 165px;
}
