.Register {
    margin: auto;
    z-index: 8;
    width: 650px;
    height: 560px;
  }
  
  .Register > .step1 {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    box-sizing: border-box;
    gap: 35px;
    position: relative;
  }
  
  .logo {
    width: 220px;
    margin-bottom: 10px;
    /* user-select: none; */
  }
  
  .logo > img {
    width: 100%;
  }
  
  .input > input {
    width: 350px;
    height: 24px;
    border-radius: 25px;
    padding: 9px 20px;
    border: 3px solid black;
    font-size: 15px;
    /* font-family: "Montserrat", sans-serif; */
  }
  
  .inputWrongRegister > input {
    border: 3px solid red;
  }
  
  .input > input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
  }
  
  .input {
    position: relative;
  }
  
  .wrongIcon {
    position: absolute;
    top: 19%;
    left: 90%;
  }
  
  .registerButton {
    width: 390px;
    height: 45px;
    background-color: red;
    text-transform: uppercase;
    color: white;
    border-radius: 50px;
    box-sizing: border-box;
    border: 3px solid red;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    /* user-select: none; */
  }
  
  .registerButton:hover {
    border: 3px solid red;
    background-color: aliceblue;
    color: red;
  }
  
  .createAccount {
    margin-top: -30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    /* user-select: none; */
  }
  
  .iconBack {
    position: absolute;
    top: 20px;
    left: 22px;
    cursor: pointer;
  }
  
  .wrongGmailRegister {
    position: absolute;
    top: 29%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .existGmailRegister {
    position: absolute;
    top: 29%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  
  .wrongPasswordRegister {
    position: absolute;
    top: 44%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  .wrongConfirmRegister {
    position: absolute;
    top: 59%;
    left: 23%;
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
  }
  