.ItemProducts {
  position: relative;
  height: 60px;
  width: 100%;
  font-size: 16px;
  border-bottom: solid 2px rgb(0, 0, 0, 0.1);
  font-weight: 400;
  font-family: "Gantari", sans-serif;
}

.ItemProducts > .stt {
  position: absolute;
  top: 8%;
  left: 8px;
  /* background-color: aqua; */
  width: 5%;
  text-align: center;
}

.ItemProducts > .img {
  position: absolute;
  top: 5%;
  left: 110px;
  /* background-color: yellow; */
  width: 60px;
  height: 60px;
  text-align: center;
  overflow: hidden;
}

.ItemProducts > .img > img {
  margin-top: -5px;
  width: 100%;
}

.ItemProducts > .name {
  position: absolute;
  top: 8%;
  left: 196px;
  /* background-color: red; */
  width: 24%;
  text-align: center;
}

.ItemProducts > .type {
  position: absolute;
  top: 8%;
  left: 484px;
  /* background-color: green; */
  width: 15%;
  height: 20px;
  display: flex;
  justify-content: center;
}

.ItemProducts > .topping {
  position: absolute;
  top: 1%;
  left: 663px;
  /* background-color: pink; */
  width: 21%;
  height: 58px;
  overflow-y: scroll;
  text-align: center;
  /* padding-top: 17px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: -10px; */
}

.toppingItem {
  /* margin-top: -18px; */
}

.ItemProducts > .topping::-webkit-scrollbar {
  width: 3px;
}

.ItemProducts > .topping::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.ItemProducts > .topping::-webkit-scrollbar-track {
  background-color: white;
}

.ItemProducts > .price {
  position: absolute;
  top: 8%;
  left: 891px;
  /* background-color: blue; */
  width: 10%;
  text-align: center;
}

.ItemProducts > .action {
  position: absolute;
  top: 30%;
  left: 1044px;
  /* background-color: pink; */
  width: 6%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ItemProducts > .action > svg {
  height: 23px;
  cursor: pointer;
}
