.Sidebar {
  /* width: 300px; */
  height: 100vh;
  /* background-color: white; */
  padding: 0px 15px;
  /* padding-left: 0px; */
  box-shadow: 7px 0px 30px rgba(0, 0, 0, 0.2);
  /* height: 665px; */
  position: relative;
  user-select: none;
  /* box-sizing: border-box; */
}

.Logo {
  position: absolute;
  top: 30px;
  left: 40px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
}
.Logo > img {
  height: 100%;
}

.Feature {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  width: 200px;
  box-sizing: border-box;
}

.choose {
  background-color: #339af0;
  color: white;
  width: 220px;
}

.feature > svg {
  width: 23px;
  height: 23px;
}

.logout {
  /* background-color: #20c997; */
  position: absolute;
  display: flex;
  align-items: center;
  height: 28px;
  gap: 4px;
  top: 670px;
  font-weight: 600;
  left: 36px;
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s;
}

.logout:hover {
  color: #868e96;
}
