.Dashboard {
  width: 100%;
  padding: 30px 70px;
  overflow: hidden;
}

.dashboardTitle {
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 600;
}

.dashboardInformation {
  display: flex;
  align-items: center;
  gap: 49px;
}

.di {
  height: 85px;
  width: 250px;
  background-color: aqua;
  box-sizing: border-box;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0 30px;
  position: relative;
  color: white;
  font-weight: 600;
  user-select: none;
}

.di-1 {
  background-color: #38d9a9;
}

.di-2 {
  background-color: #f03e3e;
}

.di-3 {
  background-color: #339af0;
}

.di-4 {
  background-color: #9775fa;
}

.diIcon {
  position: absolute;
  top: 27%;
  right: 10%;
}

.diIcon > img {
  height: 40px;
}

.recentOrders {
  margin-top: 50px;
  width: 100%;
  height: 456px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.recentOrdersTitle {
  display: flex;
  align-items: center;
  gap: 84%;
  padding: 0 15px;
  height: 40px;
  border-bottom: solid 2px rgb(0, 0, 0, 0.1);
}

.recentOrdersTitle > p {
  font-weight: 700;
  font-size: 20px;
}

.recentOrdersTitle > button {
  border: none;
  background-color: #fd7e14;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}

.recentOrdersName {
  height: 40px;
  /* border-bottom: solid 2px rgb(0, 0, 0, 0.1); */
  position: relative;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.1);
}

.id {
  position: absolute;
  top: -15%;
  left: 8%;
}
.paymentMethod {
  position: absolute;
  top: -15%;
  left: 26%;
}
.date {
  position: absolute;
  top: -15%;
  left: 46%;
}
.statuss {
  position: absolute;
  top: -15%;
  left: 62%;
}
.total {
  position: absolute;
  top: -15%;
  left: 74%;
}

.actionCC {
  position: absolute;
  top: -15%;
  left: 88%;
}

.recentOrders > .main {
  height: 374px;
  overflow: scroll;
  overflow-x: hidden;
}

.main::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
}

.main::-webkit-scrollbar-track {
  background-color: white;
}
