.Card {
  margin-top: 20px;
  position: relative;
  width: 225px;
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.image {
  overflow: hidden;
  height: 225px;
  cursor: pointer;
}

.image img:hover {
  transform: scale(1.15);
  transition: 0.4s;
}

.image > img {
  width: 100%;
}

.name {
  padding: 10px 0;
  width: 180px;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.price {
  padding: 10px 0;
  font-weight: 500;
  color: #ff0000;
}

.button {
  border: none;
  background-color: white;
  position: absolute;
  top: 85%;
  left: 75%;
  transform: translate(-10px, -7px);
  cursor: pointer;
}

.button:hover .background {
  /* transition: 0.2s; */
  fill: white;
}

.button:hover .border {
  width: 28px;
  height: 28px;
  border: 3.5px solid #ff0000;
  border-radius: 50%;
}

.button:hover .ver {
  transform: translateX(16.5px) translateY(-3.8px) rotate(45deg);
  transition: 0.5s;
  fill: #ff0000;
}

.button:hover .hor {
  transform: translateX(36px) translateY(12px) rotate(135deg);
  transition: 0.5s;
  fill: #ff0000;
}
