.LOGIN_REGISTER {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url(../../../public/img/background_login.jpg);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}