.tag {
  border-top: 2px solid #adb5bd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 60px;
  /* justify-content: space-a; */
  align-items: center;
}

.title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
}

/* .f {
  border-top: 2px solid #adb5bd;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  margin-right: 225px;
} */

.floatFrame {
  position: fixed;
  z-index: 10;
  top: 20%;
  left: 25%;
  transform: translate(25px, 0);
}

.overlay {
  z-index: 7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.y {
  border-top: none;
  margin-top: 30px;
}
