.Account {
  height: 100%;
  width: 100%;
  position: relative;
}

.background {
  width: 100%;
  /* opacity: 0.5; */
  /* background-color: black; */
}

.information {
  box-sizing: border-box;
  background-color: white;
  width: 92%;
  height: 320px;
  position: absolute;
  top: 32%;
  left: 4%;
  /* background-color: aqua; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  padding: 100px 100px 30px 110px;
}
.form1 {
  /* background-color: yellow; */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
  column-gap: 140px;
}
.form-title {
  font-weight: 600;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.input {
  border: none;
  padding: 0;
}
.star {
  margin-bottom: -13px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 12px;
}

.form2 {
  /* background-color: yellow; */
  display: flex;
  gap: 140px;
  /* padding-top: 20px; */
  position: relative;
}

.form2-main {
  border-left: 2px solid #bfbfbf;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 40px;
  /* row-gap: 10px; */
}

.input2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-title2 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  z-index: 7;
  border-radius: 50%;
  border: 12px solid white;
  overflow: hidden;
  position: absolute;
  top: 22%;
  left: 44%;
  background-color: black;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.midle {
  margin-bottom: 5px;
}

.shot {
  position: absolute;
  top: 36%;
  left: 53%;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 8;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save {
  font-family: inherit;
  background-color: red;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  position: absolute;
  top: 92%;
  left: 34%;
  color: white;
  width: 380px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  border: 4px solid red;
}

.save:hover {
  color: red;
  background-color: white;
}

.wrongCurrentPassword {
  left: 62%;
  top: 17%;
  color: red;
  position: absolute;
  font-size: 12px;
  font-style: italic;
}
.wrongNewPassword {
  left: 62%;
  top: 47%;
  color: red;
  position: absolute;
  font-size: 12px;
  font-style: italic;
}
.wrongConfirmPassword {
  left: 62%;
  top: 78%;
  color: red;
  position: absolute;
  font-size: 12px;
  font-style: italic;
}
