.PRODUCTs {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 50px;
}

.left {
  width: 300px;
  top: 0rem;
  bottom: 0rem;
}

.sideBar {
  margin-left: 50px;
  position: sticky;
  top: 100px;
  z-index: 5;
}

.right {
  /* background-color: aqua; */
  width: 300px;
}
