.footer-container {
    min-width: 100%;
    height: 400px;
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}

.info-company {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 219.28px;
}

.logo-footer {
    width: 190px;
    height: auto;
    margin-bottom: 20px;
}

.logo-footer,
.time-open-close,
.text-phone,
.connect-web,
.connect-mail,
.address {
    display: flex;
    margin-left: 30px;
}

.info-title {
    width: 95px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: auto 30px;
    padding-top: 50px;
}

.time-open-close {
    width: 500px;
    height: 100%;
}

.icon-clock svg,
.icon-text svg,
.icon-web svg,
.icon-mail svg,
.icon-address svg {
    width: 1.4rem;
    height: 1.4rem;
}

.icon-clock,
.icon-text,
.icon-web,
.icon-mail,
.icon-address {
    margin-right: 20px;
    padding: auto 0;
    height: 18px;
    line-height: 50px;
}

.icon-clock{
    line-height: 70px;
}

.info-time {
    display: flex;
    flex-direction: column;
}

.info-text p,
.info-web p,
.info-mail p,
.info-address p {
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    justify-content: center;
    margin: 10px 0 0;
    float: left;
    padding: 3px 0;
}

.info-time p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    justify-content: center;
    margin: 10px 0 0;
    float: left;
}

.quick-link,
.provision {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
}

.title-link,
.title-provision,
.title-subscribe {
    margin-top: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    line-height: 20px;
    text-align: left;
}

.detail-link a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 1.8rem;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}

.detail-rules p,
.description-sub p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 1.8rem;
    color: #ffffff;
    text-align: left;
}

.detail-rules {
    text-align: left;
}

.QR {
    margin-top: 30px;
}


.subscribe {
    width: 270px;
    height: 36px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: left;
}

.subscribe .description-sub p {
    width: 100%;
    height: 36px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    justify-content: center;
}

.input-info {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.input-info input::placeholder,
.input-info button {
    font-family: "Montserrat", sans-serif;
}

.input-info button {
    color: #fff;
    font-weight: 600;
}

.input-info button:hover {
    cursor: pointer;
    color: #ff0000;
}

.input-button {
    margin: 0 0 1rem 0;
    width: 240px;
    height: 25px;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 12px;
}

.button-sub {
    background-color: #ff0000;
    border-radius: 20px;
    width: 256px;
    height: 30px;
    border-radius: 20px;
}

.button-sub:hover {
    background-color: #fff;
    border: 3px solid #ff0000;
}

.copyright p {
    width: 100%;
    height: 26px;
    font-size: 10px;
    background-color: #000000;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    border-top: 1px solid #fff;
    margin: auto 0;
}

.detail-link a:hover {
    color: #f71515ca;
    cursor: pointer;
}

.detail-rules p:hover {
    color: #f71515ca;
    cursor: pointer;
}